@import './base/base';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  background: $dark-blue;
  font-family: $main-font;
  min-height: 100vh;
  padding: 120px 16px;
  text-align: center;

  @media (min-width: $breakpoint-laptop) {
    padding: 225px 0;
  }
}

.advice-container {
  background: $dark-grayish-blue;
  box-shadow: 30px 50px 80px rgba(0, 0, 0, 0.100202);
  border-radius: 10px;
  padding-inline: 25px;
  position: relative;
  text-align: center;

  @media (min-width: $breakpoint-laptop) {
    margin-inline: auto;
    max-width: 540px;
    padding-inline: 48px;
  }

  &__header {
    color: $neon-green;
    font-size: 11px;
    letter-spacing: 3.4px;
    line-height: 15px;
    padding-top: 40px;

    @media (min-width: $breakpoint-laptop) {
      padding-top: 48px;
    }
  }

  &__content {
    color: $light-cyan;
    font-size: 24px;
    line-height: 33px;
    margin: 25px 0;
  }

  &__divider {
    margin-bottom: 65px;

    @media (min-width: $breakpoint-laptop) {
      margin-bottom: 72px;
    }
  }
}

.generate-btn {
  background: $neon-green;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  left: 50%;
  padding: 20px;
  position: absolute;
  top: 86%;
  transform: translate(-50%, 0);

  &:hover {
    box-shadow: 0px 0px 40px #53ffaa;
  }
}

.loading-msg {
  color: $light-cyan;
}
