@import './base/base';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  background: $dark-blue;
  font-family: $main-font;
  min-height: 100vh;
  padding: 120px 16px;
}

.advice-container {
  background: $dark-grayish-blue;
  box-shadow: 30px 50px 80px rgba(0, 0, 0, 0.100202);
  border-radius: 10px;
  padding-inline: 25px;
  text-align: center;

  &__header {
    color: $neon-green;
    font-size: 11px;
    letter-spacing: 3.4px;
    line-height: 15px;
    padding-top: 40px;
  }

  &__content {
    color: $light-cyan;
    font-size: 24px;
    line-height: 33px;
    margin: 25px 0;
  }

  &__divider {
    margin-bottom: 65px;
  }
}

.generate-btn {
  background: $neon-green;
  border: none;
  border-radius: 50%;
  padding: 20px;
}
