// Fonts
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');

$main-font: 'Manrope', sans-serif;

// Colors
$light-cyan: hsl(193, 38%, 86%);
$neaon-green: hsl(150, 100%, 66%);
$grayish-blue: hsl(217, 19%, 38%);
$dark-grayish-blue: hsl(217, 19%, 24%);
$dark-blue: hsl(218, 23%, 16%);

// Media breakpoints
$breakpoint-phone: 375px;
$breakpoint-laptop: 1024px;
